*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body,#root{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

@media (min-width : 650px){
   #root{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
   }
}
